$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$grid : 16px;

$w : 60%;

$c-b : #bababa;
$c-brand : rgb(245, 249, 55);

$c-l : rgb(121, 161, 220);
$c-h : rgb(162, 200, 232);
$c-a : rgb(105, 207, 232);

$c-valid : #3ec93b;
$c-invalid : #c92f2f;

$bg-main : #333;
$bg-aux : #666;

$space-xs : $grid / 4;
$space-s : $grid / 2;
$space : $grid;
$space-l : $grid * 1.5;
$space-xl : $grid * 2;
$space-xxl : $grid * 3;


/* Theme override
-------------------------------------------------- */

html, body {
	background: #333;
	color: #ccc;
	}

h1,
h2,
h3,
h4,
strong {
	color: #eee;
	}

/* /Theme override */


/* Core
-------------------------------------------------- */

.border {
	border: 1px solid $c-b;
	}

.clearfix {
	clear: both;
	}

.image {
	font-size: 0;
	line-height: 0;
	}

.link {
	color: $c-l;
	&:hover { color: $c-h; }
	&:active { color: $c-a; }
	}

a {
	@extend .link;

	&:link,
	&:visited {
		@extend .link;
		}
	}

.button {

	&[disabled]{
		opacity: .6;
		pointer-events: none;
		cursor: default;
		}

	&.__special {
		background: $c-l;

		&:hover {
			background: $c-h;
			}

		&:active {
			background: $c-a;
			}
		}

	}

/* /Core */


/* Assets
-------------------------------------------------- */

.sh-s {
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .6);
	}

.sh-m {
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .8);
	}


.rad-s {
	border-radius: 4px;
	}

.rad-m {
	border-radius: 8px;
	}

.rad-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	}

.rad-bot {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	}


.tx-r {
	text-align: right;
	}

.tx-l {
	text-align: left;
	}

.tx-c {
	text-align: center;
	}

/* /Assets */


/* Angular-specific
-------------------------------------------------- */

textarea,
select,
input {
	&.ng-dirty {
		&.ng-valid-required {
			border-color: $c-valid;
			}

		&.ng-invalid {
			border-color: $c-invalid;
			}
		}
	}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	visibility: hidden;
	}

/* /Angular-specific */


/* Partials
-------------------------------------------------- */

.pseudo {
	@extend .link;
	text-decoration: none;
	border-bottom: 1px dashed;
	cursor: pointer;

	&.active {
		border-color: transparent;
		cursor: default;
		}
	}

/* /Partials */


/* Layout
-------------------------------------------------- */

.container {
	padding: $space-l 0;

	&.root {
		padding-top: $grid * 4;
		padding-bottom: 0;
		}
	}

header {
	border-bottom: 2px solid $c-b;
	margin-bottom: $space-xl;
	}

menu {
	display: flex;
	margin: $space-l 0;
	font-size: 16px;

	li {
		margin: 0 $space-l;
		list-style: none;

		&:first-child {
			margin-left: 0;
			}
		}
	}

footer {
	@extend .rad-m;
	@extend .rad-top;

	padding: $space;
	margin-top: $space-xl;

	background: $bg-aux;
	}

/* /Layout */


/* Flexbox
-------------------------------------------------- */

.flex {
	display: flex;
	}

	.flex_i,
	.flex > div,
	ul.flex > li {
		flex: 1 1 auto;

		& + & {
			margin-left: $space;
			}

		&.image {
			flex-grow: 0;
			}
		}

/* /Flexbox */


/* Event
-------------------------------------------------- */

.event {

	.image {
		@extend .sh-s;
		@extend .rad-s;

		margin-right: $space;
		overflow: hidden;
		}
	}

/* /Event */


/* Session
-------------------------------------------------- */

.session-list {
	margin-top: $space-l;
	}

.session {
	@extend .border;
	@extend .clearfix;
	@extend .rad-m;

	padding: $space;
	background: $bg-aux;
	width: $w;

	.flex_i:last-child {
		text-align: right;
		}

	p,
	.button {
		margin-bottom: $space-s;

		&:last-child {
			margin: 0;
			}
		}

	& + & {
		margin-top: $space-l;
		}

	}

/* /Session */