<!doctype html>
<html class="no-js" ng-app="eventReg">
<head>
    <meta charset="utf-8">
    <title>Event Reg App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

<div class="root container-fluid" ng-cloak>

    <div class="page-header">
        <h1 ng-controller="appName as app">{{app.name}}</h1>
    </div>

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/events">Events</a></li>
    </ul>



    <div>

        <h2>Events</h2>

        <ul class="list-unstyled event-list">

            <li class="event" ng-controller="eventCtrl">

                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" ng-src="{{event.imageUrl}}" alt=""/>
                    </div>
                    <div class="col-md-8">
                        <h3>{{event.name}}</h3>

                        <!-- alternative ways -->
                        <!--<h3 ng-bind="event.name"></h3>-->
                        <!--<h3 ng-bind-template="{{event.name}} - {{event.date}}"></h3>-->

                        <div><strong>Date: </strong>{{event.date}}</div>
                        <div><strong>Time: </strong>{{event.time}}</div>

                        <div><strong>Price: </strong>{{event.price | currency:"€"}}</div>
                    </div>
                </div>


                <div class="session-list">
                    <h3>Sessions</h3>
                    <div class="session well" ng-repeat="session in event.sessions">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{session.name | uppercase}}</strong>
                                <p>{{session.events}} (<small>{{session.duration}}</small>)</p>
                            </div>
                            <div class="col-md-8">
                                <button ng-class="{button: true, __special: session.special}" ng-click="voteUp(session)">Yes!</button>

                                <button class="button" ng-click="voteDown(session)">No!</button>
                                <p ng-style="votesStyle">total votes: {{session.votes}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>

    </div>

    <footer ng-controller="footerData">
        <div class="row">
            <div class="col-md-6">
                <span ng-bind-html="copyright" ng-hide="trustedAvailable"></span>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <span ng-bind-html="copyrightTrusted"></span>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/event.js"></script>
<!-- endbuild -->

</body>
</html>
